<div class="container" style="max-width: 550px;padding: 15px;margin: 0 auto;">
    <h3>The Good Compayn .Inc show demo APP.</h3>
    <p>
        <a href="/login" class="btn btn-lg btn-primary btn-block" role="button">Start</a>
        <form action="/logout" method="post">
            <input type="submit" value="logout" class="btn btn-lg btn-primary btn-block" role="button" />
        </form>
    </p>
</div>