<!DOCTYPE html>
<html>

<head>
    <title>The Good Company Inc.</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/_reset.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
    
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-1.11.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/swfobject_modified.js"></script>
    <!--SCRIPTS END-->
</head>

<body>
    <div id="header">
        <div id="logo">
            <img src="/images/header.jpg" alt="logo">
        </div>
    </div>
    <%- body %>





</body>

</html>